---
layout: bootstrap-cover
title: Video
---

<div id="page">

  <div class="youtube-wrapper">

    <!-- VIDEO LIST -->
    <div align="center">
      <table border="0" cellpadding="1" cellspacing="1" height="650" width="1100">
        <tbody>
          {% for video in site.data.videos2 %}
            {% assign remainder = forloop.index0 | modulo: 2 %}
            {% if forloop.first or remainder == 0 %}
              <tr>
            {% endif %}
            <td style="width: 385px;">
              <h4 style="text-align: justify; margin-left: 15px; margin-right: 15px;">
                <iframe allowfullscreen="" frameborder="0" height="189" src="https://www.youtube.com/embed/{{ video.youtube_id }}" width="336"></iframe>
              </h4>
            </td>
            <td style="width: 358px;">
              <h4 style="text-align: left;">
                {{ video.title }}
              </h4>
            </td>
            {% if forloop.last or remainder == 1 %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- NEW PAGE -->
    <center>
    <a href="/video.html">← Previous Page</a>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/videos_archive/video1.html">Next Page →</a>
    </center>


</div>
