  <!-- Navigation Menu (Home, Research, Contact, ..) -->
  <div id="nav-wrap">
    <div class="container">
      <table id="nav-table">
        <tr>
          <td>
            <ul class='wsite-menu-default'>
              <!-- Lighten up button depending on which site is visited -->
              <li {% if page.title=="Home"     %} id="active" {% endif %}> <a href="index.html">   Home</a> </li>
              <li {% if page.title=="Research" %} id="active" {% endif %}> <a href="research.html"> Research</a></li>
	            <li {% if page.title=="Software" %} id="active" {% endif %}> <a href="software.html"> Software</a></li>
	            <li {% if page.title=="Publications" %} id="active" {% endif %}> <a href="publications.html"> Publications</a></li>
	            <li {% if page.title=="Photos-Gallery" %} id="active" {% endif %}> <a href="gallery.html"> Photos Gallery</a></li>
              <li {% if page.title=="Research-Projects" %} id="active" {% endif %}> <a href="projects.html"> Research Projects</a></li>
              <li {% if page.title=="Info"  %} id="active" {% endif %}> <a href="info.html"> Info</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
